@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br />
    <a asp-action="SendNotification">Envoyer une notification</a>
    <br />
    <a asp-controller="ConnectDesk" asp-action="Index">Bureau</a>
    <br />
</div>
